.upper-container {
  display: flex;
  flex-direction: row;
}
.map-container {
  width: 100%;
  max-width: 50vw;
  align-self: flex-end;
}

.line-container {
  width: 100%;
  max-width: 50vw;
  height: 100%;
}

.map-controls-container {
  display: flex;
  width: 100%;
  max-width: 100vw;
}

.individual-control-wrapper {
  display: flex;
  flex-direction: column;
}
