main {
  max-width: 95vw;
  margin: 0 auto;
}

.upper-container {
  display: flex;
  flex-direction: row;
}
.map-container {
  width: 100%;
  max-width: 50vw;
  align-self: flex-end;
  padding-right: 10px;
}

.line-container {
  width: 100%;
  max-width: 50vw;
  height: 100%;
  align-self: stretch;
  padding-left: 10px;
}

.header-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background: #ff7894;
  border-radius: 5px;
  margin-bottom: 10px;
}

.map-controls-container {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.individual-control-wrapper {
  display: flex;
  flex-direction: column;
}

.select {
  background-color: white;
}

span {
  margin-left: 10px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 12px;
}

h1 {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  text-transform: uppercase;
}
